#footer {
  height: 20rem;
  background: var(--teal) url("../..//images/wave.svg") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer span {
  color: var(--white);
}
